<ul class="linkliste">
	<li><%= link_to 'Mediawiki', 'https://www2.informatik.uni-halle.de/mediawiki/' %></li>
	<li><%= link_to 'Bug-Tracking-System', 'https://www2.informatik.uni-halle.de/bts/' %></li>
	<li><%= link_to 'Poolkameras', 'https://www2.informatik.uni-halle.de/cams/' %></li>
	<li><%= link_to 'PhpMyAdmin auf inf-www', 'https://www2.informatik.uni-halle.de/phpmyadmin/' %></li>
	<li><%= link_to 'PhpLdapAdmin', 'https://www2.informatik.uni-halle.de/phpldapadmin/'%></li>
	<li><%= link_to 'N.e.V.I', 'https://fireadmin.informatik.uni-halle.de/NEVI/' %></li>
	<li><%= link_to 'Dokus', 'https://www2.informatik.uni-halle.de/DOCUS/' %></li>
	<li><%= link_to 'Seite für Wartungsarbeiten', 'https://www2.informatik.uni-halle.de/sonstiges/wartung_repository/' %></li>
</ul>
